.container {
    display: flex;
}

.left {
    border-right: thin solid lightsteelblue;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;
}

.right {
    flex-grow: 50;
    height: 100vh;
}

.left__logo, .right__nav {
    padding: 1rem;
}

.left__logo {
    height: 5vh;
}

.right__nav {
    border-bottom: thin solid lightsteelblue;
    height: 2vh;
}

.left__categoria, .right__conteudo {
    box-sizing: border-box;
    overflow: auto;
    padding: 1rem;
}

.left__categoria {
    height: 95vh;
    margin-top: 1rem;
}

.right__conteudo {
    margin-top: 1rem;
    height: 98vh;
}